$maxWidth: 1000;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}

.selectionArea {
  display: flex;
  gap: 16px;
  align-items: center;

  input {
    width: 141px;
    height: 45px;
    border: none;
    background-color: #efefef;
    border-radius: 7px;
    padding: 5px;
    @include adaptiv-font(22, 16);
    font-weight: bold;
    text-align: end;

    &:focus {
      border: none;
      outline: none;
    }
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 13px;
}

.icon {
  border: 1px solid black;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.select {
  color: #1f2261;
  font-weight: bold;
  @include adaptiv-font(24, 18);
  border: none;
  overflow: auto;
  cursor: pointer;

  &:focus {
    border: none;
  }
}

@media (max-width: 500px) {
  .icon {
    width: 50px;
    height: 50px;
  }

  .selectionArea {
    input {
      width: 120px;
      height: 35px;
    }
  }
}
