@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hanunoo&display=swap');

$maxWidth: 1000;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}

.main {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #1f2261;
  @include adaptiv-font(40, 35);
  margin-bottom: 10px;
  font-weight: bold;
}

.currentCourse {
  @include adaptiv-font(26, 20);
  color: #808080;
  margin-bottom: 41px;
}

.section {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 2px 5px 5px #8080809f;
}

.description {
  color: #989898;
  @include adaptiv-font(20, 16);
  margin-bottom: 14px;
}

.rotateContainer {
  position: relative;
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  hr {
    width: 100%;
  }
}

.rotate {
  background-color: #26278d;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  z-index: 2;
  font-family: 'Noto Sans Hanunoo', serif;
  cursor: pointer;
}

.rotateItem {
  transform: rotate(180deg);
  position: absolute;
  right: 27%;
  top: 12%;
}

.noRotateItem {
  position: absolute;
  left: 27%;
  bottom: 12%;
}

.result {
  font-size: 24px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 13px;

  & p:first-child {
    color: #a1a1a1;
  }
}

@media (max-width: 500px) {
  .rotate {
    width: 50px;
    height: 50px;
    font-size: 26px;
  }
}
